@font-face {
    font-family: SourceSansPro-Light;
    src: url(fonts/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: UniSans-Heavy;
    src: url(fonts/UniSans-Heavy.otf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: radial-gradient(ellipse at center, #1B2735, #090A0F);;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

div.main {
    padding-top: 10px;
    max-width: 1100px;
    margin: auto;
}

div.text {
    margin: 8px 15px 95px 15px;
    font-family: SourceSansPro-Regular;
    font-size: 18px;
}

div.desc {
    font-family: SourceSansPro-Light;
    color: gray;
    font-size: 18px;
}

h1, h3, h4 {
    font-family: UniSans-Heavy;
}

h1 {
    margin-bottom: 2px;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

img.align {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto; 
    margin-right: auto;
    display: block;
    background-size: contain;
}

div.layout-container {
    display: flex;
    flex-wrap: wrap;
}

div.layout-element {
    display: inline;
    flex: 200px;
    padding: 10px;
}

footer {
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: UniSans-Heavy;
    text-align: center;
    line-height: 30px;
}

img.footer {
    height: 40px;
    width: 40px;
    margin: 2px;
}

div.divider {
    background: radial-gradient(white, transparent);
    width: 90%; 
    height: 1px; 
    overflow: hidden;
    margin: 2px auto;
}

div.nothing {
    text-align: center;
    margin: auto;
    padding: 100px 0;
    color: lightslategray;
}

img.post {
    filter: drop-shadow(0px 0px 5px black);
    width: 200px;
    height: auto;
}

div.inner-post {
    margin-top: 10px;
    font-size: 13pt;
    line-height: 22px;
}

div.post-container {
    margin: 30px auto;
    max-width: 850px;
}

li {
	margin-top: 10px;
    line-height: 25px;
}

ul {
	margin-top: 0px;
	margin-left: -12px;
}

div.post {
    margin: 10px 0;
}

div.credits {
    margin-bottom: 150px;
    font-size: 18px;
}

a.link {
	color: inherit;
	text-decoration: none;
}

div.segment-control {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    font-family: SourceSansPro-Light;
    font-size: 15px;
}

div.segment-control-active {
    background-color: white;
    color: #090A0F;
}

input.search {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 5px 5px 0px;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 14px;
}

div.notfound {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 75px 0;
}

div.disabled {
    pointer-events: none;
    opacity: 0.4;
}
