div.tab-controller {
	display: flex;
    flex-wrap: wrap;
	margin: 35px 0;
}

div.tab {
    display: inline;
    flex: 75px;
    padding: 10px;

	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 15px;
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    box-sizing: border-box;

	white-space: nowrap;

    font-family: UniSans-Heavy;
}

div.tab-active {
	font-weight: bold;
	color: rgb(0, 0, 151);
	border-bottom: 3px solid rgb(0, 0, 151);
}

div.tab-active-dark {
	font-weight: bold;
	color: white;
	border-bottom: 3px solid white;
}

div.tabs-content {
	clear: both;
	padding-top: 15px;
}
